{% extends "base.html" %}
{% block content %}

<div class="one">
		<div class="inner-content">
			{% for post in posts.object_list %}
		<div class="post-entry">
			 <div class="post-date">
				 <span class="post-month">{{ post.created.month }}</span>
				 <strong class="post-day">{{ post.created.day }}</strong>
				 <span class="post-year ">{{ post.created.year }}</span>
			 </div>
			<div class="post-intro">
			<a href="{% url page.views.post post.slug %}"><h3> {{ post.title }}</h3></a>
			<p><img src="http://www.fps.com.vn/timthumb.php?src={{ post.thumbnail }}&amp;h=175&amp;w=615&amp;zc=1" alt=" " width="615" height="175" class="img-align-left"></p> 
			
				<p></p>	
					
				<p><a href="{% url page.views.post post.slug %}" class="button small round grey">Read More</a></p>	
				
		</div>
		<div class="horizontal-line"></div>
		</div>
		
		{% endfor %}
		
		<!-- Next/Prev page links  -->
    {% if posts.object_list and posts.paginator.num_pages > 1 %}
    <ul class="blog-pagination">
        <li> {% if posts.has_previous %} <a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a> {% endif %} 
        	
        	<li class="active"> &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }} </li> 
        	{% if posts.has_next %}<li><a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a> {% endif %} </li>
    </ul>
    {% endif %}
	
		</div>
		
		{% include "right_sidebar.html" %}
		</div>
    


{% endblock %}












{% for comment in post.comment_set.all %}
            <div class="comment">
        <div class="time">{{ comment.created }} | {{ comment.author }}</div>
        <div class="body">{{ comment.body|linebreaks }}</div>
        {% if user.is_staff %}
            <input type="checkbox" name="delete" value="{{ comment.pk }}">
            <a href="{% url 'page.views.delete_comment' post.pk comment.id %}">delete</a>
        {% endif %}
    </div>
            {% endfor %}