{% extends "base.html" %}
{% block content %}
{% load fb_versions %}
<div class="one">

	<div class="inner-content">
		{% for post in posts %}
		<div class="post-entry">
			<div class="post-date">
				<span class="post-month">{{ post.created.month }}</span>
				<strong class="post-day">{{ post.created.day }}</strong>
				<span class="post-year ">{{ post.created.year }}</span>
			</div>
			<div class="post-intro">
				<a href="{% url blog.views.post post.slug %}"><h3> {{ post.title }}</h3></a>

				<p>
					{% if post.image_set.all %}
					<img src="/media/{{post.image_set.all|first}}" alt=" " width="615" height="175" class="img-align-left">
				    
					
					{% else %}
					<img src="{% version post.thumbnail 'big' %}" alt=" " width="615" height="175" class="img-align-left">
				    {% endif %}
				</p>

				<p>
					{{ post.content|striptags|truncatewords:"100" }}
				</p>

				<p>
					<a href="{% url blog.views.post post.slug %}" class="button small round grey">Read More</a>
				</p>

			</div>
			<div class="horizontal-line"></div>
		</div>

		{% endfor %}

		<!-- Next/Prev page links  -->
		{% if posts.object_list and posts.paginator.num_pages > 1 %}
		<ul class="blog-pagination">
			<li>
				{% if posts.has_previous %} <a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a> {% endif %}

			<li class="active">
				&nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
			</li>
			{% if posts.has_next %}
			<li>
				<a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a> {% endif %}
			</li>
		</ul>
		{% endif %}

	</div>

	<div class="one-fourth last">

		<h4>Category</h4>
		<ul class="simple-nav">
			<!--SIMPLE UL -->
			
			{% for category in categories %}
			<li class="">
				<a href="{% url blog.views.category category.slug %}">{{ category.title }}</a>
			</li>
			{% endfor %}
		</ul>
		<div class="horizontal-line"></div>

	</div>
</div>

{% endblock %}

{% for comment in post.comment_set.all %}
<div class="comment">
	<div class="time">
		{{ comment.created }} | {{ comment.author }}
	</div>
	<div class="body">
		{{ comment.body|linebreaks }}
	</div>
	{% if user.is_staff %}
	<input type="checkbox" name="delete" value="{{ comment.pk }}">
	<a href="{% url 'blog.views.delete_comment' post.pk comment.id %}">delete</a>
	{% endif %}
</div>
{% endfor %}