
<div id="footer-container">
	<!-- FOOTER CONTAINER STARTS-->
						<div id="footer">
							<!-- FOOTER STARTS-->
							<div class="one">
								<!-- COLUMN CONTAINER STARTS-->
							
							</div>
							<!-- COLUMN CONTAINER ENDS-->
						</div>
						<!-- FOOTER ENDS-->
						
</div>
<div id="copyrights">
<p>&copy; Copyright 2012. All Rights Reserved. &amp;</p>
<ul id="footer-links">
	<li> <a href="#">Home</a>  </li>   
	<li> <a href="#">Services</a>  </li>   
	<li> <a href="#">Portfolio</a> </li>    
	<li><a href="#">Sitemap </a></li>    
	<li> <a href="#">Contact</a></li>
	<li><a href="#" class="backtotop">&uarr;</a></li>
</ul>
</div>










</div>
</div>
</div>
</body>
</html>