<div class="one">
				<div class="horizontal-line"></div>
				<div id="portfolio-slider">
					<div class="slice">
					<div class="one-fourth">
						<div class="item-holder">
						<div class="link-holder">
						<div class="portfolio-item-holder">
							<div class="portfolio-item-hover-content">
								<a href="http://web-vogue.com/themes/Titanium/blue/images/slideshow/slide-003.jpg" title="Dummy Image Title" class="zoom">View Image</a>
								<a href="#">Read About the Project</a>
								<img src="http://web-vogue.com/themes/Titanium/blue/images/portfolio/portfolio-img-01.jpg" alt=" " width="220" height="120" class="portfolio-img"/>
								<div class="hover-options"></div>
							</div>
						</div>
						</div>
						<!--END portfolio-item-thumb-->
						<p><strong><a href="#">Awesome Design</a></strong></p>
						<a href="#">Web Development</a>, <a href="#">Design</a>
						</div> 
					</div>
					<div class="one-fourth">
						<div class="item-holder">
						<div class="link-holder">
						<div class="portfolio-item-holder">
							<div class="portfolio-item-hover-content">
								<a href="http://web-vogue.com/themes/Titanium/blue/images/slideshow/slide-003.jpg" title="Dummy Image Title" class="zoom">View Image</a>
								<a href="#">Read About the Project</a>
								<img src="http://web-vogue.com/themes/Titanium/blue/images/portfolio/portfolio-img-02.jpg" alt=" " width="220" height="120" class="portfolio-img"/>
								<div class="hover-options"></div>
							</div>
						</div>
						</div>
						<!--END portfolio-item-thumb-->
						<p><strong><a href="#">Awesome Design</a></strong></p>
						<a href="#">Web Development</a>, <a href="#">Design</a>
						</div> 
					</div>
					<div class="one-fourth">
						<div class="item-holder">
						<div class="link-holder">
						<div class="portfolio-item-holder">
							<div class="portfolio-item-hover-content">
								<a href="http://web-vogue.com/themes/Titanium/blue/images/slideshow/slide-003.jpg" title="Dummy Image Title" class="zoom">View Image</a>
								<a href="#">Read About the Project</a>
								<img src="http://web-vogue.com/themes/Titanium/blue/images/portfolio/portfolio-img-03.jpg" alt=" " width="220" height="120" class="portfolio-img"/>
								<div class="hover-options"></div>
							</div>
						</div>
						</div>
						<!--END portfolio-item-thumb-->
						<p><strong><a href="#">Awesome Design</a></strong></p>
						<a href="#">Web Development</a>, <a href="#">Design</a>
						</div> 
					</div>
					
					<div class="one-fourth last">
						<div class="item-holder">
						<div class="link-holder">
						<div class="portfolio-item-holder">
							<div class="portfolio-item-hover-content">
								<a href="http://web-vogue.com/themes/Titanium/blue/images/slideshow/slide-003.jpg" title="Dummy Image Title" class="zoom">View Image</a>
								<a href="#">Read About the Project</a>
								<img src="http://web-vogue.com/themes/Titanium/blue/images/portfolio/portfolio-img-04.jpg" alt=" " width="220" height="120" class="portfolio-img"/>
								<div class="hover-options"></div>
							</div>
						</div>
						</div>
						<!--END portfolio-item-thumb-->
						<p><strong><a href="#">Awesome Design</a></strong></p>
						<a href="#">Web Development</a>, <a href="#">Design</a>
						</div> 
					</div>
					</div>
				<div class="slice">
					<div class="one-fourth">
						<div class="item-holder">
						<div class="link-holder">
						<div class="portfolio-item-holder">
							<div class="portfolio-item-hover-content">
								<a href="http://web-vogue.com/themes/Titanium/blue/images/slideshow/slide-003.jpg" title="Dummy Image Title" class="zoom">View Image</a>
								<a href="#">Read About the Project</a>
								<img src="http://web-vogue.com/themes/Titanium/blue/images/portfolio/portfolio-img-01.jpg" alt=" " width="220" height="120" class="portfolio-img"/>
								<div class="hover-options"></div>
							</div>
						</div>
						</div>
						<!--END portfolio-item-thumb-->
						<p><strong><a href="#">Awesome Design</a></strong></p>
						<a href="#">Web Development</a>, <a href="#">Design</a>
						</div> 
					</div>
					<div class="one-fourth">
						<div class="item-holder">
						<div class="link-holder">
						<div class="portfolio-item-holder">
							<div class="portfolio-item-hover-content">
								<a href="http://web-vogue.com/themes/Titanium/blue/images/slideshow/slide-003.jpg" title="Dummy Image Title" class="zoom">View Image</a>
								<a href="#">Read About the Project</a>
								<img src="http://web-vogue.com/themes/Titanium/blue/images/portfolio/portfolio-img-02.jpg" alt=" " width="220" height="120" class="portfolio-img"/>
								<div class="hover-options"></div>
							</div>
						</div>
						</div>
						<!--END portfolio-item-thumb-->
						<p><strong><a href="#">Awesome Design</a></strong></p>
						<a href="#">Web Development</a>, <a href="#">Design</a>
						</div> 
					</div>
					<div class="one-fourth">
						<div class="item-holder">
						<div class="link-holder">
						<div class="portfolio-item-holder">
							<div class="portfolio-item-hover-content">
								<a href="http://web-vogue.com/themes/Titanium/blue/images/slideshow/slide-003.jpg" title="Dummy Image Title" class="zoom">View Image</a>
								<a href="#">Read About the Project</a>
								<img src="http://web-vogue.com/themes/Titanium/blue/images/portfolio/portfolio-img-03.jpg" alt=" " width="220" height="120" class="portfolio-img"/>
								<div class="hover-options"></div>
							</div>
						</div>
						</div>
						<!--END portfolio-item-thumb-->
						<p><strong><a href="#">Awesome Design</a></strong></p>
						<a href="#">Web Development</a>, <a href="#">Design</a>
						</div> 
					</div>
					
					<div class="one-fourth last">
						<div class="item-holder">
						<div class="link-holder">
						<div class="portfolio-item-holder">
							<div class="portfolio-item-hover-content">
								<a href="http://web-vogue.com/themes/Titanium/blue/images/slideshow/slide-003.jpg" title="Dummy Image Title" class="zoom">View Image</a>
								<a href="#">Read About the Project</a>
								<img src="http://web-vogue.com/themes/Titanium/blue/images/portfolio/portfolio-img-04.jpg" alt=" " width="220" height="120" class="portfolio-img"/>
								<div class="hover-options"></div>
							</div>
						</div>
						</div>
						<!--END portfolio-item-thumb-->
						<p><strong><a href="#">Awesome Design</a></strong></p>
						<a href="#">Web Development</a>, <a href="#">Design</a>
						</div> 
					</div>
					</div>
					
					</div>
					
				 <div class="portfolio-details-nav">
						<a href="#"><span id="next">&rsaquo;</span></a>   
						<a href="#"><span id="prev">&lsaquo;</span></a> 
					</div>	
				
				
				
				</div>
